# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.sdf
win32/vsproject/Debug/cbsamplegame.obj
win32/vsproject/Debug/CerealBox.exe
win32/vsproject/Debug/CerealBox.log
*.ilk
win32/vsproject/Debug/CerealBox.pdb
win32/vsproject/Debug/CerealBox.tlog/CerealBox.lastbuildstate
win32/vsproject/Debug/CerealBox.tlog/cl.command.1.tlog
*.tlog
win32/vsproject/Debug/vc120.idb
*.obj
win32/vsproject/Debug/vc120.pdb
win32/vsproject/CerealBox.opensdf
